* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #324255;
    font-family: "Fira Code", sans-serif;
}

button {
    border: none;
    padding: 16px 40px;
    background-color: rgb(40, 241, 34);
    color: white;
    cursor: pointer;
    font-size: 2rem;
    letter-spacing: 6px;
    position: relative;
    transition: ease-in 700ms border-radius,
        ease 250ms background, ease-out 300ms text-shadow;
}

button::before,
button::after {
    content: "";
    display: block;
    height: 2px;
    background-color: rgb(40, 241, 34);
    background-color: #fff;
    position: absolute;
    animation: rotate-border-btn 5s infinite;
    transition: 200ms all;
}

button::before {
    width: 10px;
    top: -5px;
    left: 0;
}

button::after {
    width: 10px;
    bottom: -5px;
    right: 0;
}

button:hover::before,
button:hover::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    animation: rotate-border-btn 5s steps(8) infinite;
}

button:hover::before {
    background-color: red;
    width: 10px;
    top: -5px;
    left: 0;
}

button:hover::after {
    background-color: cyan;
    width: 10px;
    bottom: -5px;
    right: 0;
}

button:hover {
    background-color: rgb(27, 25, 25);
    border-radius: 8px;
}

button:hover span {
    animation: text-shadow-tiktok 4s infinite linear;
}

span {
    font-weight: 600;
}